{% extends 'base.html.twig'%}

{% block title %}Great blog{% endblock %}
{% block body %}
     <header>
        <div class="vertical-align">
            <h1> Lorem ipsum</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum excepturi accusamus id perspiciatis soluta at quaerat, mollitia assumenda quam maiores inventore suscipit obcaecati, repellendus hic exercitationem recusandae quis ab sunt?</p>
            <button> More </button>
        </div>
    </header>
    <main>
        <div class="posts">
            {% if articles %}
                {% for article in articles %}
                    <div class="post">
                        <div class="post-footer">
                            <span class="author">Author: {{ article.author }}</span>
                            <span class="date">{{ article.date }}</span>
                        </div>
                        <div class="post-content">
                            <h3> <a href="/article/{{ article.id }}">{{ article.title }}</a> </h3>
                            {{ article.content }}
                        </div>
                    </div>
                {% endfor %}
                <div style="clear: both"></div>
            {% else %}
                <p>No articles to display.</p>
            {% endif %}
        </div>
    </main>

{% endblock %}